In [1]:
import io, os, uuid, yaml
import numpy as np
import pandas as pd
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient

In [2]:
with open("./credentials.yaml","r") as c:
    credentials = yaml.safe_load(c)['blob_storage']

In [3]:
blob_service_client = BlobServiceClient.from_connection_string(credentials['conn_string'])

In [4]:
container_name = "ingredion-data"
container_client = blob_service_client.get_container_client(container_name)

In [20]:
blob_list = container_client.list_blobs()

In [6]:
keys = {'name', "size"}
az_storage_blobs = [{k:v for k,v in b.items() if k in keys} for b in blob_list]

In [7]:
az_storage_blobs

[{'name': 'Brazil_file', 'size': 48885145},
 {'name': 'US_file', 'size': 111936526},
 {'name': 'forecast_ingredion_Brazil', 'size': 12493379},
 {'name': 'forecast_ingredion_US', 'size': 29119569}]

In [8]:
az_storage_blobs[3]['name']

'forecast_ingredion_US'

In [13]:
stream = container_client.download_blob(az_storage_blobs[3]['name'])
result = stream.content_as_text()

In [14]:
data = io.StringIO(result)
df = pd.read_csv(data)

In [15]:
df.shape

(336690, 6)

In [16]:
df.head()

,date,ship_to_party,commercial_name,GBM_forecast,xgb_forecast,target
0,2016-09-01,"DLVD QUALITY LIQUID FEEDS, INC.",GLUCOSE SYRUP INDUSTRIAL,19671.035822,20963.375,8561.35
1,2016-10-01,"DLVD QUALITY LIQUID FEEDS, INC.",GLUCOSE SYRUP INDUSTRIAL,11292.881589,12142.574,-384.39
2,2018-09-01,DUNN PAPER- LADYSMITH,NATIONAL 54-3418,25827.689756,28595.516,64239.11
3,2018-10-01,DUNN PAPER- LADYSMITH,NATIONAL 54-3418,48117.739000,55248.285,31350.02
4,2018-11-01,DUNN PAPER- LADYSMITH,NATIONAL 54-3418,29569.294797,28595.516,33313.79

In [19]:
df.groupby(['date']).sum()/1000000

            GBM_forecast  xgb_forecast      target
date
2016-01-01    167.298497    165.910559  160.518294
2016-02-01    171.379305    171.530981  170.694185
2016-03-01    185.165746    185.411623  167.487145
2016-04-01    177.039662    176.996701  173.441950
2016-05-01    177.610062    175.969136  183.903559
2016-06-01    188.957611    187.871892  169.809625
2016-07-01    177.499726    178.301661  186.605487
2016-08-01    190.380576    189.385387  179.065464
2016-09-01    176.412484    172.479179  162.040115
2016-10-01    176.011006    174.463420  169.796715
2016-11-01    171.794490    170.116928  162.148202
2016-12-01    165.642972    165.483891  172.072722
2017-01-01    174.835467    177.528504  169.388090
2017-02-01    162.275341    168.778609  177.819239
2017-03-01    174.557052    178.756814  169.177301
2017-04-01    159.741845    165.815767  172.219127
2017-05-01    172.553837    177.730518  179.732064
2017-06-01    180.221171    184.150610  172.619501
2017-07-01    170.616217    175.766216  186.128006
2017-08-01    185.065757    184.850543  171.006875
2017-09-01    165.863689    169.150417  170.715718
2017-10-01    172.724106    175.732900  172.390608
2017-11-01    162.571646    165.406146  160.490764
2017-12-01    160.980397    164.817914  172.358910
2018-01-01    181.018634    182.376030  170.556144
2018-02-01    167.825054    168.947785  175.946636
2018-03-01    185.529620    188.239512  177.337753
2018-04-01    177.659102    180.987737  178.987692
2018-05-01    180.238209    181.989963  181.943304
2018-06-01    180.114502    184.379319  185.996605
2018-07-01    180.603406    181.994644  194.461530
2018-08-01    176.287917    170.848449  159.200164
2018-09-01    163.935101    168.333234  177.641604
2018-10-01    178.536373    177.736112  163.122448
2018-11-01    164.377128    162.199917  157.465346
2018-12-01    158.425922    158.064680  167.311631
2019-01-01    178.502013    177.919676  172.926947
2019-02-01    172.926247    171.834537  175.288875
2019-03-01    178.701369    177.898801  179.720223
2019-04-01    178.375667    176.917445  178.644872
2019-05-01    179.564327    178.418784  175.640986
2019-06-01    168.543836    168.407365  182.840889
2019-07-01    180.702916    180.647663  182.056584
2019-08-01    175.950806    172.635627  173.463266
2019-09-01    163.536101    164.076975  183.468181
2019-10-01    177.044670    174.060663  173.128745
2019-11-01    163.724620    164.381783  166.800803
2019-12-01    166.963733    166.395531  182.787792
2020-01-01    179.033826    173.848430  169.566893
2020-02-01    162.410121    162.013369  179.283961
2020-03-01    175.769314    172.682434  165.519240
2020-04-01    155.885541    153.697533  159.699567
2020-05-01    150.782410    150.638417  166.561147
2020-06-01    159.433452    157.257310  161.196420
2020-07-01    166.201025    163.899203  178.652955
2020-08-01    170.465245    165.602522  167.538639
2020-09-01    171.893118    167.250603  165.695492
2020-10-01    172.363106    168.067647  157.865323
2020-11-01    148.875412    148.102075  152.296031
2020-12-01     22.174607     20.877286   22.510361

In [25]:
df.fiscal_year_period.unique()

array([ 1.2016, 10.2016, 11.2016, 12.2016,  2.2016,  3.2016,  4.2016,
        5.2016,  6.2016,  7.2016,  8.2016,  9.2016,  1.2017, 10.2017,
       11.2017, 12.2017,  2.2017,  3.2017,  4.2017,  5.2017,  6.2017,
        7.2017,  8.2017,  9.2017,  1.2018, 10.2018, 11.2018, 12.2018,
        2.2018,  3.2018,  4.2018,  5.2018,  6.2018,  7.2018,  8.2018,
        9.2018,  1.2019, 10.2019, 11.2019, 12.2019,  2.2019,  3.2019,
        4.2019,  5.2019,  6.2019,  7.2019,  8.2019,  9.2019,  1.202 ,
       10.202 , 11.202 , 12.202 ,  2.202 ,  3.202 ,  4.202 ,  5.202 ,
        6.202 ,  7.202 ,  8.202 ,  9.202 ])

In [26]:
df.nunique()

fiscal_year_period                     60
company_name                            1
company_code                            1
Ship_to_party_code                   3155
ship_to_party                        2786
material                              869
commercial_name                       291
sales_qty_total_mt                  16829
3p_sales_qty_total_mt               16675
gross_revenue_usd                  102234
discounts_usd                           1
new_net_revenue                    102253
n3p_net_revenue                     98349
net_corn                            70028
raw_material_other                  19919
utilities                           55393
waste                                   1
repair                              65281
labor                               49807
ohmfg                               40212
supplies_and_packaging              67617
supplies_indirect                   36121
depreciation                        47716
3p_freight_usd                      51576
logistics                           29676
cos_other                           39024
new_cogs                           124227
freight_usd                         55226
intercompany_cost_elimination        5925
gross_profit                       121994
sga_toal                            73235
other_income_expense                42697
operating_income                   122301
other_non_operating_income_loss        37
special_items                        8214
interco_dividends                       1
charge_back                          7964
exchange_gain_loss                  30126
intercompany_financing_cost          1562
financing_costs                     28516
fees_and_royalties                  27140
pbt                                124460
taxes_on_income                     52366
net_income                         124477
minority_income                         1
adj_minority_income                     1
total_net_income                   124477
ing10000_ingr_net_income           124477
dtype: int64